<table>
  <tr>
    <%= form_for [@user, @deck] do |f| %>
    <td>
      <%= f.text_field :title %>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td>
      <%= f.submit %>
    </td>
    <% end %>
  </tr>
  <tr>
    <td>
      Name of Deck
    </td>
    <td>
      Number of Cards
    </td>
    <td>
      Last Accessed
    </td>
    <td>
      Deck Settings
    </td>
  </tr>
  <% @decks.each do |deck| %>
  <tr>
    <td><%= deck.title %></td>
    <td><%= deck.cards.length %> </td>
    <td><%= deck.last_touched %> </td>
    <td><%= link_to "Edit", edit_deck_path(deck) %> </td>
    <td><%= "Hmm" %>
  </tr>
  <% end %>
</table>
