<div class="editpage">


<%= form_for @deck do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.check_box :published %>
  <%= label_tag(:published, "Published?") %>
  <%= f.submit %>
<% end %>

<h3> Add Cards To Your Deck </h3>

<h3>Import Cards:</h3>
  <%= form_tag import_deck_cards_path(@deck), multipart: true do %>
  <%= file_field_tag :file, id:"filefieldtag" %>
  <%= submit_tag "Import from CSV"%>
  <% end %>

<h3> Add/Edit Manually :</h3>
<table >
    <td>
      Question
    </td>
    <td>
      Answer
    </td>
    <td>
      Edit
    </td>
    <td>
    </td>
  </tr>
  <% @cards.reverse.each do |card| %>
    <tr id= "cardform">
      <%= form_for [@deck, card] do |f| %>
      <td>
        <%= f.text_area :question, :id => "styled" %>
      </td>
      <td>
        <%= f.text_area :answer, :id => "styled" %>
      </td>
      <td>
        <%= f.submit %>
      </td>
      <% end %>
      <% if card.id %>
      <td> <%= button_to "Delete Card", deck_card_path(@deck, card), method: :delete, class: 'delete', :id => "deleteButton" %> </td>
      <% end %>
    </tr>
  <% end %>
</table>
</div>
