<% @decks.each do |deck| %>
<div class="decks_home">
  <div class="card effect__click">
    <div class="card__front">
      <span class="card__text">
        <h4>Sample Card </h4>
      <%= deck.cards.first.question %>
      </span>
    </div>
    <div class="card__back">
      <span class="card__text">
        <h4>Sample Card </h4>
      <%= deck.cards.first.answer %>
      </span>
    </div>
  </div>
  <div class="qblockright">
    <h2> <%= link_to deck.title, deck_path(deck) %> </h2>
    Number of Cards: <%= deck.cards.length %> </br>
    Authored By: <%= deck.user.email %> </br>
    Last Dealt: <%= deck.last_touched.strftime("%m/%d/%Y") %>
  </div>
</div>
<% end %>
