<% @decks.each do |deck| %>
<div class="decks_home">
  <h2> <%= link_to deck.title, deck_path(deck) %> </h2>
  <div class="qblock">
    Sample Question: <% if deck.cards.length >0 %>
    <%= deck.cards.first.question %>

    <% else %>
    <%= "No Sample" %>
    <% end %>
  </div>
  <div class="qblock">
  Number of Cards: <%= deck.cards.length %>
  Authored By: <%= deck.user.email %>
  Last Dealt  : <%= deck.last_touched %>
  <div>
</div>
<% end %>
