<h3> Add New Deck</h3>
  <%= form_for [@user, @deck] do |f| %>
    <!-- or render the partial here? -->
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.submit %>
  <% end %>
<h3> Manage Decks </h3>
<table>
  <!-- I recommend using CSS to layout this form. Use tables for tabular data.. -->
  <tr>
    <td>
      Name of Deck
    </td>
    <td>
      Number of Cards
    </td>
    <td>
      Last Accessed
    </td>
    <td>
      Deck Settings
    </td>
    <td>
      Published?
    </td>
  </tr>
  <% @decks.each do |deck| %>
  <tr>
    <td><%= deck.title %></td>
    <td><%= deck.cards.length %> </td>
    <td><%= deck.last_touched.strftime("%m/%d/%Y") %> </td>
    <td><%= link_to "Edit", edit_deck_path(deck) %>/<%= link_to "Delete", deck_path(deck), method: :delete, class: 'delete' %> </td>
    <td>
    <% if deck.published %>
    <%= "Public" %>
    <% else %>
    <%= "Private" %>
    <% end %>
    </td>
  </tr>
  <% end %>
</table>
